html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

main {
  flex: 1;
}

section > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

section > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 35px;
  background-color: white;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  cursor: pointer;
  transition: border 0.3s;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

section > div > div:hover {
  border: 2px solid tomato;
}

section > div > div:hover button {
  background-color: rgb(190, 190, 190);
  color: black;
}

.foods {
  height: 250px;
  overflow: hidden;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foods img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 35px;
  display: block;
}

section > div > div > p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
}

section > div > div > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 500;
}

section > div > div > p:nth-of-type(3) {
  color: gray;
  margin-top: auto;
}

section > div > div > button {
  background-color: #f1eee9;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  align-self: center;
}

nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

nav a.active {
  color: tomato;
}

section > h2 {
  margin: 30px;
}

.soops h2 {
  margin-top: unset;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
  width: 100%;
}

@media (max-width: 800px) {
  section > div {
    grid-template-columns: repeat(2, 1fr);
  }

  h1, h2 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  section > div {
    grid-template-columns: 1fr;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 22px;
  }
}